In [1]:
import pandas as pd
from cross_validation import cross_validation
from sklearn.linear_model import LinearRegression
from sklearn.metrics import mean_squared_error

In [2]:
file_path = "data/ozone_complet.csv"
df = pd.read_csv(file_path, sep=';', index_col=0, decimal=',')

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 1464 entries, 19950401 to 20020930
Data columns (total 23 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   maxO3   1391 non-null   float64
 1   T6      1463 non-null   float64
 2   T9      1463 non-null   float64
 3   T12     1463 non-null   float64
 4   T15     1463 non-null   float64
 5   T18     1463 non-null   float64
 6   Ne6     1462 non-null   float64
 7   Ne9     1462 non-null   float64
 8   Ne12    1462 non-null   float64
 9   Ne15    1462 non-null   float64
 10  Ne18    1459 non-null   float64
 11  Vdir6   1463 non-null   float64
 12  Vvit6   1463 non-null   float64
 13  Vdir9   1463 non-null   float64
 14  Vvit9   1463 non-null   float64
 15  Vdir12  1463 non-null   float64
 16  Vvit12  1463 non-null   float64
 17  Vdir15  1463 non-null   float64
 18  Vvit15  1463 non-null   float64
 19  Vdir18  1463 non-null   float64
 20  Vvit18  1463 non-null   float64
 21  Vx      1463 non-null   float64
 22  maxO3v  1391 non-null   float64
dtypes: float64(23)
memory usage: 274.5 KB

In [4]:
df.head()

,maxO3,T6,T9,T12,T15,T18,Ne6,Ne9,Ne12,Ne15,...,Vdir9,Vvit9,Vdir12,Vvit12,Vdir15,Vvit15,Vdir18,Vvit18,Vx,maxO3v
date,,,,,,,,,,,,,,,,,,,,,
19950401,47.6,10.1,11.6,13.3,13.6,12.2,8.0,8.0,8.0,8.0,...,290.0,4.0,300.0,4.0,340.0,4.0,20.0,4.0,-3.4641,62.2
19950402,56.2,9.5,9.4,13.8,17.4,16.3,8.0,8.0,7.0,0.0,...,160.0,2.0,180.0,3.0,110.0,1.0,350.0,2.0,0.0000,47.6
19950403,61.8,3.6,8.0,16.8,21.5,20.2,4.0,5.0,2.0,2.0,...,20.0,2.0,340.0,1.0,170.0,2.0,170.0,3.0,-0.3420,56.2
19950404,50.8,9.5,10.5,11.4,12.2,11.4,8.0,7.0,7.0,7.0,...,10.0,4.0,350.0,3.0,350.0,3.0,350.0,4.0,-0.5209,61.8
19950405,59.8,9.8,10.8,13.8,14.3,13.3,8.0,7.0,8.0,8.0,...,340.0,2.0,280.0,1.0,320.0,3.0,350.0,4.0,-0.9848,50.8

In [10]:
df.dropna(inplace=True)

X = df.drop('maxO3v', axis=1).to_numpy()
y = df['maxO3v'].to_numpy()

print(f"Taille des co-variables : {X.shape}")
print(f"Taille de la target : {y.shape}")

Taille des co-variables : (1366, 22)
Taille de la target : (1366,)

In [6]:
# Instanciation du modÃ¨le
model = LinearRegression()

# Utilisation de la fonction custom de cross validation
scores, mean_score = cross_validation(X, y, k=10, model=model, metric=mean_squared_error)
print(f"mse sur les K floads :{mean_score}")

mse sur les K floads :289.0901210994387

In [7]:
scores

[{'Fold_0': np.float64(288.3022455860066)},
 {'Fold_1': np.float64(278.7824844191261)},
 {'Fold_2': np.float64(258.6394620247371)},
 {'Fold_3': np.float64(355.8763335329645)},
 {'Fold_4': np.float64(221.77402312467197)},
 {'Fold_5': np.float64(334.0828298521211)},
 {'Fold_6': np.float64(233.65782515073138)},
 {'Fold_7': np.float64(349.34138576752775)},
 {'Fold_8': np.float64(298.5899296552559)},
 {'Fold_9': np.float64(271.85469188124443)}]

In [8]:
# Comparaison avec seulement un flold
from sklearn.model_selection import train_test_split

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2)
model.fit(X_train, y_train)
y_pred = model.predict(X_test)
mse = mean_squared_error(y_pred, y_test)
print(mse)

285.0248458226009

In [9]:
from sklearn.model_selection import cross_validate

cross_validate(model, X, y,scoring=["neg_mean_squared_error", "neg_mean_absolute_error"], cv=10)

{'fit_time': array([0.00539994, 0.00144386, 0.01010013, 0.00366902, 0.00201964,
        0.00349498, 0.00364065, 0.00228405, 0.00114107, 0.00151801]),
 'score_time': array([0.01744199, 0.00227404, 0.00800586, 0.00103188, 0.00163198,
        0.00194693, 0.00127912, 0.00076294, 0.00373006, 0.00213504]),
 'test_neg_mean_squared_error': array([-322.24511732, -259.94550913, -289.66320176, -304.48607566,
        -327.22287318, -327.46287702, -159.42877606, -292.76520117,
        -342.90824918, -263.01824618]),
 'test_neg_mean_absolute_error': array([-13.33378113, -12.6233919 , -13.11179997, -12.82021269,
        -13.22937511, -13.68621521, -10.00648955, -12.89282425,
        -14.2509683 , -12.38365425])}